body {
  margin: 0;
}

#root {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  overflow: hidden;
}

.assets {
  display: grid;
  grid-column: 1/13;
  justify-content: center;
  text-align: center;

  h1 {
    text-align: center;
    color: white;
    background: #213458;
  }

  button {
    font-size: 1.25em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: #213458;
    color: white;
    outline: none;
    margin: 1em;
  }
  button:hover {
    background-color: #325697;
  }

  .inputs {
    table {
      margin: auto;
      outline: none;
      border-collapse: separate;
      border-spacing: 0 8px;
      tr:nth-child(odd) {
        border-radius: 1em;
        background-color: rgb(13, 158, 224);
      }
      tr:nth-child(even) {
        background-color: rgb(41, 101, 212);
      }
      tr:nth-child(1) {
        background-color: initial;
      }
      th {
        padding-bottom: 1em;
        font-size: 1.5em;
      }
      td {
        padding: 1em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        input {
          width: 125px;
          font-weight: bold;
          font-size: 1em;
          background-color: rgba(245, 234, 234, 0.959);
          border-radius: 0.75em;
          padding-left: 0.5em;
          border: none;
        }
      }

      td:first-child {
        border-left-style: solid;
        border-width: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      td:last-child {
        border-right-style: solid;
        border-width: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  .calculate {
    font-weight: 650;
    margin: 1em;
    outline: none;
    font-size: 2em;
    border-radius: 0.6em;
  }
}

.demoImages {
  grid-column: 2/12;
  text-align: center;
  div {
    border-radius: 2em;
    background-image: linear-gradient(
      rgb(93, 198, 240),
      rgba(100, 203, 243, 0)
    );
    padding-top: 2em;
    padding-bottom: 2em;
    img {
      width: 45%;
      margin: 0.5em;
      height: auto;
    }
  }
  h2 {
    background-color: #213458;
    color: white;
    margin: auto;
    margin-bottom: 2em;
    width: 300px;
  }
}

.currentAssets,
.reallocatedAssets {
  display: grid;
  grid-column: 1/13;
  grid-template-columns: repeat(12, 1fr);

  h1 {
    grid-column: 1/13;
  }
  .view {
    grid-column: 11/13;
    button {
      cursor: pointer;
      width: 150px;
      float: right;
    }
  }
}
.calculations {
  display: grid;
  grid-column: 3/11;
  justify-content: center;
  h1 {
    text-align: center;
    color: white;
    background: #213458;
  }
  .table {
    grid-column: 3/11;
    margin-bottom: 1.5em;
    border-radius: 3em;
    padding: 2em;
    background-image: linear-gradient(360deg, #83a4e7, #e2ebfb);
    color: white;
    text-align: center;
    table {
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      font-size: 1.15em;

      tbody {
        background-image: linear-gradient(
          to right,
          rgb(58, 58, 211),
          rgb(135, 135, 207)
        );
        th {
          padding-left: 0.4em;
          padding-right: 1em;
          background-color: #6964b3;
        }
        td {
          padding: 0.4em;
          border-style: hidden;
          padding-right: 1em;
        }

        tr:hover {
          background-color: #6964b3;
        }
      }
    }
  }
  .pieChart {
    grid-column: 1/7;
    border-radius: 2em;
    margin-right: 1.5em;
    background-image: linear-gradient(
      270deg,
      rgb(238, 118, 118),
      rgb(241, 228, 228)
    );
    display: grid;
    justify-content: center;
    align-items: center;
    .pieChartContent {
      grid-column: 1/13;
      .chart {
        display: inline-block;
        width: 40em;
        font-size: 0.5em;
      }
      .chartColors {
        margin-top: 1em;
        margin-right: 0.5em;
        display: inline-block;
        div {
          display: inline-block;
        }
        vertical-align: top;
        margin-left: 1em;
        .color {
          display: block;
        }
        .square {
          width: 12.5px;
          height: 12.5px;
          margin-right: 0.3em;
        }
      }
    }
  }
  .barChart {
    display: grid;
    grid-column: 7/13;
    border-radius: 2em;
    padding: 1em;
    background-image: linear-gradient(90deg, #e9eb8d, #edeeda);
  }

  .view {
    grid-column: 1/13;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    button {
      width: 200px;
      font-size: 1.25em;
      cursor: pointer;
      border-radius: 0.5em;
      background-color: #213458;
      color: white;
      outline: none;
      margin: 1em;
    }
    button:hover {
      background-color: #325697;
    }
  }
}
@media screen and (max-width: 1500px) {
  .calculations {
    grid-column: 2/12;
    .pieChart {
      grid-column: 2/7;
      .pieChartContent {
        .chart {
          width: 30em;
        }
      }
    }
    .barChart {
      grid-column: 7/12;
    }
  }
}

@media screen and (max-width: 1200px) {
  .calculations {
    grid-column: 1/13;
    .pieChart {
      grid-column: 2/7;
      .pieChartContent {
        .chart {
          width: 31em;
        }
      }
    }
    .barChart {
      grid-column: 7/12;
    }
  }
}

@media screen and (max-width: 1000px) {
  .assets {
    .inputs {
      table {
        th {
          font-size: 1.25em;
        }
        td {
          padding: 0.5em;
          input {
            width: 80px;
          }
        }
      }
    }
  }
  .demoImages {
    margin: 1em;
    grid-column: 1/13;
    div {
      img {
        margin-left: 5em;
        margin-right: 5em;
        width: 75%;
      }
    }
  }
  .calculations {
    font-size: 0.8em;
    .pieChart {
      grid-column: 3/11;
      margin-right: 0;
      margin-bottom: 1.5em;
      .pieChartContent {
        .chart {
          width: 50em;
        }
      }
    }
    .barChart {
      grid-column: 3/11;
    }
  }
}
@media screen and (max-width: 672px) {
  .assets {
    font-size: 0.7em;
    .buttons {
      button {
        margin: 0.5em;
      }
    }
    .inputs {
      table {
        td {
          input {
            width: 55px;
          }
        }
      }
    }
  }
  .demoImages {
    margin: 1em;
    grid-column: 1/13;
    div {
      img {
        margin: 0;
        width: 80%;
      }
    }
  }

  .calculations {
    font-size: 0.7em;
    .table {
      grid-column: 1/13;
    }
    .pieChart {
      grid-column: 1/13;
      margin-right: 0;
    }
    .barChart {
      grid-column: 1/13;
    }
    .view {
      button {
        width: 175px;
        margin: 0;
      }
    }
  }
}
