body {
  margin: 0;
}

#root {
  font-family: Arial, Helvetica, sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.assets {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.assets h1 {
  text-align: center;
  color: white;
  background: #213458;
}

.assets button {
  font-size: 1.25em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: #213458;
  color: white;
  outline: none;
  margin: 1em;
}

.assets button:hover {
  background-color: #325697;
}

.assets .inputs table {
  margin: auto;
  outline: none;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.assets .inputs table tr:nth-child(odd) {
  border-radius: 1em;
  background-color: #0d9ee0;
}

.assets .inputs table tr:nth-child(even) {
  background-color: #2965d4;
}

.assets .inputs table tr:nth-child(1) {
  background-color: initial;
}

.assets .inputs table th {
  padding-bottom: 1em;
  font-size: 1.5em;
}

.assets .inputs table td {
  padding: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.assets .inputs table td input {
  width: 125px;
  font-weight: bold;
  font-size: 1em;
  background-color: rgba(245, 234, 234, 0.959);
  border-radius: 0.75em;
  padding-left: 0.5em;
  border: none;
}

.assets .inputs table td:first-child {
  border-left-style: solid;
  border-width: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.assets .inputs table td:last-child {
  border-right-style: solid;
  border-width: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.assets .calculate {
  font-weight: 650;
  margin: 1em;
  outline: none;
  font-size: 2em;
  border-radius: 0.6em;
}

.demoImages {
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  text-align: center;
}

.demoImages div {
  border-radius: 2em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5dc6f0), to(rgba(100, 203, 243, 0)));
  background-image: linear-gradient(#5dc6f0, rgba(100, 203, 243, 0));
  padding-top: 2em;
  padding-bottom: 2em;
}

.demoImages div img {
  width: 45%;
  margin: 0.5em;
  height: auto;
}

.demoImages h2 {
  background-color: #213458;
  color: white;
  margin: auto;
  margin-bottom: 2em;
  width: 300px;
}

.currentAssets,
.reallocatedAssets {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.currentAssets h1,
.reallocatedAssets h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.currentAssets .view,
.reallocatedAssets .view {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/13;
}

.currentAssets .view button,
.reallocatedAssets .view button {
  cursor: pointer;
  width: 150px;
  float: right;
}

.calculations {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculations h1 {
  text-align: center;
  color: white;
  background: #213458;
}

.calculations .table {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  margin-bottom: 1.5em;
  border-radius: 3em;
  padding: 2em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#83a4e7), to(#e2ebfb));
  background-image: linear-gradient(360deg, #83a4e7, #e2ebfb);
  color: white;
  text-align: center;
}

.calculations .table table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 1.25em;
}

.calculations .table table tbody {
  background-image: -webkit-gradient(linear, left top, right top, from(#3a3ad3), to(#8787cf));
  background-image: linear-gradient(to right, #3a3ad3, #8787cf);
}

.calculations .table table tbody th {
  padding-left: 0.4em;
  padding-right: 1em;
  background-color: #6964b3;
}

.calculations .table table tbody td {
  padding: 0.4em;
  border-style: hidden;
  padding-right: 1.5em;
}

.calculations .table table tbody tr:hover {
  background-color: #6964b3;
}

.calculations .pieChart {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  border-radius: 2em;
  margin-right: 1.5em;
  background-image: -webkit-gradient(linear, right top, left top, from(#ee7676), to(#f1e4e4));
  background-image: linear-gradient(270deg, #ee7676, #f1e4e4);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculations .pieChart .pieChartContent {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.calculations .pieChart .pieChartContent .chart {
  display: inline-block;
  width: 40em;
  font-size: 0.5em;
}

.calculations .pieChart .pieChartContent .chartColors {
  margin-top: 1em;
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
}

.calculations .pieChart .pieChartContent .chartColors div {
  display: inline-block;
}

.calculations .pieChart .pieChartContent .chartColors .color {
  display: block;
}

.calculations .pieChart .pieChartContent .chartColors .square {
  width: 12.5px;
  height: 12.5px;
  margin-right: 0.3em;
}

.calculations .barChart {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  border-radius: 2em;
  padding: 1em;
  background-image: -webkit-gradient(linear, left top, right top, from(#e9eb8d), to(#edeeda));
  background-image: linear-gradient(90deg, #e9eb8d, #edeeda);
}

.calculations .view {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
}

.calculations .view button {
  width: 200px;
  font-size: 1.25em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: #213458;
  color: white;
  outline: none;
  margin: 1em;
}

.calculations .view button:hover {
  background-color: #325697;
}

@media screen and (max-width: 1500px) {
  .calculations {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
  .calculations .pieChart {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
  }
  .calculations .pieChart .pieChartContent .chart {
    width: 30em;
  }
  .calculations .barChart {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
  }
}

@media screen and (max-width: 1200px) {
  .calculations {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .calculations .pieChart {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
  }
  .calculations .pieChart .pieChartContent .chart {
    width: 31em;
  }
  .calculations .barChart {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7/12;
  }
}

@media screen and (max-width: 1000px) {
  .assets .inputs table th {
    font-size: 1.25em;
  }
  .assets .inputs table td {
    padding: 0.5em;
  }
  .assets .inputs table td input {
    width: 80px;
  }
  .demoImages {
    margin: 1em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .demoImages div img {
    margin-left: 5em;
    margin-right: 5em;
    width: 75%;
  }
  .calculations {
    font-size: 0.8em;
  }
  .calculations .pieChart {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
    margin-right: 0;
    margin-bottom: 1.5em;
  }
  .calculations .pieChart .pieChartContent .chart {
    width: 50em;
  }
  .calculations .barChart {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3/11;
  }
}

@media screen and (max-width: 672px) {
  .assets {
    font-size: 0.7em;
  }
  .assets .buttons button {
    margin: 0.5em;
  }
  .assets .inputs table td input {
    width: 55px;
  }
  .demoImages {
    margin: 1em;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .demoImages div img {
    margin: 0;
    width: 80%;
  }
  .calculations {
    font-size: 0.7em;
  }
  .calculations .table {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .calculations .pieChart {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    margin-right: 0;
  }
  .calculations .barChart {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .calculations .view button {
    width: 175px;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */